h1{

    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:30px;
}

.header * {
    border:solid;
}
.header {
    background-color: #97CACB ;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.site-description{
    background-color: #D57753 ;
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    color:#37484F;
    display: flex;
    flex-wrap : wrap;
    justify-content:space-around;   
    font-family: Arial, Helvetica, sans-serif; 
}

.footer{
    background-color: #ffffff ;
    display: flex;
    justify-content: flex-end;
}


p, h2 {
    text-align: center
}
 
body {
    background-color:#DE988E;

}

a:link{
    color:white;
}

a:visited{
    color:#DE988E;
}

.menu a{
    margin-right:20px;
}

.item{
    position:relative;
}

.item p{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
opacity:0;
}

.item:hover p{
opacity:1;
}

.item:hover img{
opacity:0.33;
}